<nav class="navbar navbar-expand-lg navbar-dark">
    <div class="container">
        <a class="navbar-brand fw-bold" href="/">
            <i class="bi bi-bicycle me-2"></i>Supermarket Admin
        </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav me-auto">
                <li class="nav-item">
                    <a class="nav-link" href="/"><i class="bi bi-house me-1"></i>Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/bike/add"><i class="bi bi-plus-circle me-1"></i>Add Product</a>
                </li>
            </ul>
            <a href="/bike/add" class="btn btn-warning fw-bold">
                <i class="bi bi-plus-circle me-1"></i>Add New Product
            </a>
        </div>
    </div>
</nav>
